---
import Layout from '../layouts/Layout.astro';
import CourseLayout from '../components/CourseLayout';

const CURSO_1_PASSWORD = import.meta.env.CURSO_1_PASSWORD;
const CURSO_2_PASSWORD = import.meta.env.CURSO_2_PASSWORD;

const courseData1 = {
    title: "Taller de Revolución Solar - Clase 1",
    password: CURSO_1_PASSWORD,
    videoId: "vIyOX6vSVvo"
};

const courseData2 = {
    title: "Taller de Revolución Solar - Clase 2",
    password: CURSO_2_PASSWORD,
    videoId: "FxwOp523fjc"
};
---

<Layout title="Cursos">
    <section class="bg-white">
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 gap-8">
                <CourseLayout client:load {...courseData1} />
                <CourseLayout client:load {...courseData2} />
            </div>
        </div>
    </section>
</Layout>
